*,
*::before,
*::after {
  box-sizing: border-box;
}
h3 {
  margin-top: 15px;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
  padding-top: 1dvh;
}
button {
  background-color: #f04c2f;
  border-radius: 4px;
  font-weight: 600;
  color: white;
  border: 0px;
  padding: 10px;
}
header {
  background: rgb(0, 0, 0);
  text-align: center;

  color: white;
  box-shadow: 0 3px 3px #444;

  padding-top: 2em;
  padding-bottom: 2em;

  text-transform: uppercase;
}
main {
  background: rgb(255, 255, 255);
  font-weight: bold;

  align-self: center;
}
h1 {
  margin-top: 10px;
  text-align: center;
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
}
p {
  font-weight: 300;
  line-height: 1, 65;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: small;
  margin-bottom: 30px;
}
h2 {
  margin-top: 30px;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  padding-top: 5dvh;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #25a2c3;
  margin-top: 1em;
  font-family: "Montserrat", sans-serif;

  line-height: 1.5;
  border: 1px solid #dee1e3;
}
.mario {
  font-weight: 200;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;

  font-size: x-small;
  margin-bottom: 1px;
}

.box1 {
  margin-top: 0em;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: url(../images/banner.jpg);
  height: 300px;
  padding-top: 20px;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}
.cerchio {
  width: 300px;
  height: 300px;
  text-align: left;
  margin-left: 200px;
}
.img1 {
  object-fit: cover;
  height: 100%;
  border-radius: 50%;
  object-position: left;
}
.testo {
  padding-top: 90px;
  text-align: center;
}

.sezrossa {
  width: 100%;
  padding-top: 30px;
  height: 250px;
  background-color: #e12424;
}
.testo2 {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.box {
  width: 200;
  margin-top: 1em;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  line-height: 1.5;
  background-position: center;
  margin-left: 6px;
  margin-right: 6px;
  border: 1px solid #dee1e3;
}

.test {
  width: 300px;
  display: inline-block;
  margin: auto;
}

.text {
  display: inline-block;
  width: 300px;
  text-align: left;
}
.text h1 {
  margin-top: 10px;

  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  font-weight: 700;

  text-align: left;
}
.text p {
  padding: 0px;
  margin-top: 10px;
  line-height: 1.65;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: left;
}
.img2 {
  max-width: 70%;

  border-radius: 50%;
}
.prova {
  display: inline-block;
}
.totale {
  padding: 4rem 1rem;
  text-align: center;
}
.allbox {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
}
.testo1 {
  width: 300px;
  text-align: right;
  display: inline-block;
}
.indirizzi {
  width: 280px;

  background-color: #25a2c3;
  display: inline-block;
  display: flex;
  justify-content: center;
  text-align: center;
}
.indirizzi p {
  padding: 0px;
  margin-top: 6px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 6px;
  font-weight: 400;
  text-align: left;
}
.indirizzi h3 {
  padding: 0px;
  margin-top: 6px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  font-weight: 700;
  text-align: left;
}
.copi {
  padding: 0px;
  margin-top: 10px;
  color: #ffffff;
  font-size: x-small;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  font-weight: 300;
  text-align: left;
}
